apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_config_dir }}/certs/ca.crt
    server: https://{{ kube_vip }}:{{ kube_api_secure_port }}

  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    namespace: default
    user: default-auth
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: default-auth
  user:
    client-certificate: {{ kube_config_dir }}/certs/kubecfg.crt
    client-key: {{ kube_config_dir }}/certs/kubecfg.key
