[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/local/bin/kubelet \
  --address={{ inventory_hostname }} \
  --hostname-override={{ inventory_hostname }} \
  --pod-infra-container-image=gcr.io/google_containers/pause-amd64:3.0 \
  --kubeconfig={{ kube_conf_file }} \
  --cluster-dns=10.254.0.2 \
  --cluster-domain={{ cluster_name }}. \
  --hairpin-mode=promiscuous-bridge \
  --allow-privileged=true \
  --logtostderr=true \
  --log-dir=/var/log/kubelet/ \
  --network-plugin=cni \
  --image-gc-high-threshold=80 \
  --image-gc-low-threshold=50 \
  --kube-api-qps=100 \
  --max-pods=200 \
  --serialize-image-pulls=false \
  --minimum-image-ttl-duration=30m \
  --protect-kernel-defaults \
  --v=2
  
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
